<!dOcTyPe hTmL>
<html>
	<head>
		<style>
			body {
				margin: 0;
				padding: 0;
				border: none;
			}
			#main {
				width: 1000px;
				margin: 0 auto;
			}
			#nav {
				float: left;
				width: 300px;
				height: 100%;
				border-right: solid 1px black;
			}
			#content {
				float: left;
			}
			#foot {
				clear: both;
			}
		</style>
	</head>
	<body>
		<div id="main">
			<div id="nav">
			nav!
			</div>
			<div id="content">
				<div id="map">
				map
				</div>
				<div id="readout">
				readout
				</div>
			</div>
			<div id="foot">
			foot
			</div>
		</div>
	</body>
</html>
