<!dOcTyPe hTmL>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<title>Events Find You</title>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript" src="/media/jquery.js"></script>
		<!--<link rel="stylesheet" type="text/css" href="/media/css/style.css">-->
		<link rel="stylesheet" type="text/css" href="/media/js/shadowbox/shadowbox.css">
		<script type="text/javascript" src="/media/js/shadowbox/shadowbox.js"></script>
		<!--<script type="text/javascript" src="/media/js/jquery-1.5.1.min.js"></script>-->
		<link href="/media/css/ui-lightness/jquery-ui-1.8.10.custom.css" rel="stylesheet" type="text/css">
    	<script type="text/javascript" src="/media/js/jquery-ui-1.8.10.custom.min.js"></script>
		<script>
			Shadowbox.init({
				skipSetup: true,
				modal: true,
				enableKeys: false,
				overlayOpacity: 0.7
			});
		</script>
		<style>
			body {
				margin: 0;
				padding: 0;
				border: none;
			}
			#main {
				width: 1000px;
				margin: 0 auto;
			}
			#nav {
				float: left;
				width: 250px;
				height: 100%;
			}
			#content {
				float: left;
			}
			#foot {
				clear: both;
			}
			#map {
				width: 750px;
				height: 500px;
			}
			#readout {
				width: 750px;
				height: 250px;
				overflow: auto;
			}
		</style>

	</head>
	<body>
		<form method=POST action=""> {% csrf_token %} </form>
		<div id="main">
			<div id="nav">
			nav!
			</div>
			<div id="content">
				<div id="map">
				</div>
				<div id="readout"></div>
			</div>
			<div id="foot">
			foot
			</div>
		</div>

		<!--<div id="map_canvas"></div>
		<div id="info_box" class="main_box">
		</div>-->
		<!--<div id="container_box">-->
		<!--********************************NavBox********************************-->
		<!--<div id="nav_box" class="main_box">-->
			<!--<form action="/" onsubmit="validate_addr(document.getElementById('addin2').value);return false;">
				<input id="addin2" type="text">
			</form>
			<script>document.getElementById("addin2").focus()</script>-->
		<!--</div>-->
		
		<!--********************************ListBox********************************
		<div id="list_box" class="main_box">
			<ul>
				<li><div class="arts"></div>Example Event</li>
				<li><div class="arts"></div>Example Event</li>
				<li><div class="arts"></div>Example Event</li>
				<li><div class="arts"></div>Example Event</li>
			</ul>
		</div>
		********************************InfoBox********************************-->
		<!--********************************FilterBox********************************
	<div id="filter_box" class="main_box">
			<div id="filter_title">
				<h3>Filter Events</h3><div id="filter_title_icons"><div class="contact" id="contact_btn"></div><div  class="" id="filter_slide_btn"></div></div>					
				<div class="clear"></div>
			</div>
			<div id="filter_body">
				<table><tr>
					<td><div class="arts">Arts</td><td><div class="music">Music</td>
				</tr><tr>
					<td><div class="business">Business</td><td><div class="shopping">Shopping</td>
				</tr><tr>
					<td><div class="education">Education</td><td><div class="sports">Sports</td>
				</tr><tr>
					<td><div class="food">Food</td><td><div class="other">Other</td>
				</tr></table>
			</div>
		</div>
		<div id="social_box" class="main_box"></div>
		</div>
		-********************************SocialBox********************************-->
		<script src="/media/js/caz.js"></script>
	</body>
</html>
